  <div class="card">
    <div class="card-header">
      Lista de Productos </div>
    <div class="card-body">
       
          <a class="nav-link"  routerLink="/nuevo"><i class="fas fa-plus-circle"></i> Nuevo Producto</a>
     <br>
        
      <table class="table caption-top">
        <caption></caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">CANTIDAD</th>
            <th scope="col">PRECIO</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.categoria}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.cantidad}}</td>
            <td>S/.{{producto.precio}}</td>
            <td>
              <button class="btn btn-outline-primary" routerLink="/detalle/{{producto.id}}" style="margin-left : 10px;"><i class="far fa-eye"></i> Ver</button>
              <button class="btn btn-outline-warning" routerLink="/editar/{{producto.id}}" style="margin-left : 10px;"><i class="far fa-edit"></i> Editar</button>
              <button class="btn btn-outline-danger" (click)="borrar(producto.id)" style="margin-left : 10px;"><i class="far fa-trash-alt"></i> Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
